/* Main Content */
.content {
    width: 75%;
    padding: 30px;
}

.content-headers h2 {
    font-size: 36px;
    border-bottom: 3px solid #ff6600;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.work-item {
    margin-bottom: 20px;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.work-item h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.work-item p {
    font-size: 16px;
    color: #555;
}
