.work-item {
    display: flex;
    justify-content: space-between; /* กระจายเนื้อหาทั้งสองด้าน */
    align-items: center;
    margin-bottom: 20px; /* เว้นระยะระหว่างแต่ละโปรเจกต์ */
}

.work-item h3 {
    min-width: 120px; /* กำหนดขนาดขั้นต่ำให้หัวข้อโปรเจกต์ */
    margin-right: 20px; /* เว้นระยะห่างระหว่างหัวข้อกับเนื้อหา */
    font-size: 24px; /* กำหนดขนาดตัวอักษรของหัวข้อ */
    margin: 0; /* กำหนดระยะห่างของหัวข้อ */
    color: #854836; /* กำหนดสีของหัวข้อ */
}

.work-item p {
    flex-grow: 1; /* ให้ข้อความขยายตัวตามพื้นที่ที่เหลือ */
    margin: 20px; /* กำหนดระยะห่างของเนื้อหา */
}

.work-item img {
    width: 120px; /* ปรับขนาดรูปภาพให้เหมาะสม */
    height: auto;
    border-radius: 8px; /* กำหนดขอบรูปภาพ */
    margin-left: 20px; /* เว้นระยะห่างระหว่างรูปภาพกับเนื้อหา */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* เพิ่มเงาให้กับรูปภาพ */
}
